/* Design System */

:root {
    /* colours */
    --color-primary-background: #F4D04E;
    --color-card-background: #FFFFFF;
    --color-accent: #F4D04E;
    --color-text-primary: #111111;
    --color-text-secondary: #6B6B6B;
    --color-link-hover: var(--color-accent);

    /* typography */
    --font-size-title:  clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
    --font-size-body: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    --font-size-body-sm: clamp(0.75rem, 0.706rem + 0.1878vw, 0.875rem);
    --font-family: "Figtree", sans-serif;
    --font-weight-extra-bold: 800;
    --font-weight-medium: 500;
    --line-height: 1.5;
    --letter-spacing: 0;

    /* spacing */
    --padding-category: 4px 12px;
    --padding-base: 16px;
    --padding-card: 24px;
    --margin-sm: 0.75rem;
    --margin-lg: 1.5rem;

    /* shadow */
    --shadow: 8px 8px 0 0 rgb(0 0 0);

    /* radius */
    --radius-lg: 20px;
    --radius-sm: 10px;
    --radius-xsm: 4px;
}

/* Fonts */

@font-face {
    font-family: "Figtree";
    src: url("./assets/fonts/Figtree.woff2") format("woff2");
    font-display: swap;
    font-weight: 300 900;
}

/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
    margin: 0;
}

body {
  font-family: var(--font-family);
  font-size:var(--font-size-body);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--color-text-primary);
  background-color: var(--color-primary-background);
  padding: var(--padding-base);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
  display: block;
}

.sr-only {
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
}

/* Card Styles */

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.blog-card {
    background-color: var(--color-card-background);
    padding: var(--padding-card);
    max-width:24rem;
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow);
    position: relative;
}

.blog-card-img {
    border-radius: var(--radius-sm);
    width: 100%;
    height: auto;
}

.blog-card-category {
    display: inline-block;
    background-color: var(--color-accent);
    padding: var(--padding-category);
    border-radius: var(--radius-xsm);
    margin-top: var(--margin-lg);
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-extra-bold);
}

.blog-card-date {
    margin-top: var(--margin-sm);
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-medium);
}

.blog-card-title {
    margin-top: var(--margin-sm);
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-extra-bold);
}

.blog-card-title-link {
    text-decoration: none;
    color: inherit;
}

.blog-card-title-link::after {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
}

.blog-card-title-link:hover,
.blog-card-title-link:focus {
    color: var(--color-link-hover);
}

.blog-card-text {
    margin-top: var(--margin-sm);
    color: var(--color-text-secondary);
    font-weight: var(--font-weight-medium);
}

.blog-card-author {
    margin-top: var(--margin-lg);
    display: flex;
    align-items: center;
    gap:12px;
}

.blog-card-author-name {
    font-size: 0.875rem;
    font-weight: var(--font-weight-extra-bold);
}

/* Attribution Styles */

.attribution {
   text-align: center;
}

.attribution a {
    color: var(--color-text-primary);
}